[submodule "mimir"]
	path = mimir
	url = git@github.com:AstroKriel/Mimir.git
[submodule "sindri"]
	path = sindri
	url = git@github.com:AstroKriel/ScienceRoutines.git
[submodule "freyja"]
	path = freyja
	url = git@github.com:AstroKriel/Sandbox.git
