[submodule "mimir"]
	path = mimir
	url = git@github.com:AstroKriel/ScienceVault.git
	branch = main
[submodule "sindri"]
	path = sindri
	url = git@github.com:AstroKriel/PythonRoutines.git
	branch = main
[submodule "freyja"]
	path = freyja
	url = git@github.com:AstroKriel/Sandbox.git
	branch = main
[submodule "ratatosk"]
	path = ratatosk
	url = git@github.com:AstroKriel/ShellTools.git
	branch = main
[submodule "brokkr"]
	path = brokkr
	url = git@github.com:AstroKriel/JuliaRoutines.git
	branch = main
